/* Footer.css */
.footer {
    background-color: #FFA726; /* Brighter Orange, same as NavBar */
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Pushes the footer to the bottom */
  }
  
  .footer p {
    margin: 0;
    color: #fff;
    font-size: 14px;
  }